.board-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-image: url("../public/fondo-interfaz.png");
	background-repeat: no-repeat;
	background-size: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}